html {
    font-family: "Lucida Sans", sans-serif;
}

body {
/*   background-color:#CCE5FF;*/
/* 
   background-image: url("tree.png");
 */
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   color:blue;
   margin: 0;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (orientation: landscape) {
    /* For tablets: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}


.button_on {
	background-color: #4CAF50; /* Green */
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
	font-size: 16px;
}
.button_on:hover {
	background-color: #7CAF90; /* Green */
}

.button_off {
	background-color: #f44336; /* Red */
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
	font-size: 16px;
}

.button_off:hover {
	background-color: #f48376; /* Green */
}

